@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.Darken {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* animation: opacite 0.2s; */
}

.infoFilm {
    width: 80vw;
    height: 79vh;
    background-color: var(--Background);
    border-radius: 18px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    overflow: hidden;
    z-index: 11;
    /* animation: entry 0.2s; */
}

.infoFilm>div {
    margin: 0;
}

.left {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    min-width: 30%;
    max-width: 30%;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: brightness(1);
    overflow: hidden;
    cursor: default;
    flex-grow: 1;
    padding: 0 15px;
}

.left>h2 {
    font-family: 'Raleway', sans-serif;
}

.left>h3 {
    font-family: 'Roboto', sans-serif;
}

.left>h3, .left>h2 {
    margin: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.15s;
}

.right>p {
    max-height: 60%;
    overflow: auto;
}

.left:hover>*:not(img) {
    opacity: 0.9;
}

.left:hover>div>img {
    filter: brightness(0.2);
}

.left>div>img {
    transition: 0.15s;
}

.right>h3 {
    font-family: 'Roboto', sans-serif;
}

.right>h2 {
    font-family: 'Raleway', sans-serif;
}

.right>p {
    font-family: 'Roboto', sans-serif;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    padding: 10px;
    cursor: default;
}

@keyframes more {
    0% {
        transform: translate(+50px, 0px);
        animation-timing-function: ease-in-out
    }
    50% {
        transform: translate(10px, 0px);
        animation-timing-function: ease-in-out
    }
    100% {
        transform: translate(+50px, 0px);
        animation-timing-function: ease-in-out
    }
}

@keyframes entry {
    from {
        transform: translate(0px, +50vh) scale(0.3);
        animation-timing-function: ease-in-out
    }
    to {
        transform: translate(0px, 0px) scale(1);
        animation-timing-function: ease-in-out
    }
}

.entry-leave {
    animation: entry 0.5s;
    animation-direction: reverse;
}

.entry {
    animation: entry 0.5s;
}

@keyframes opacite {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .example-enter {
    opacity: 0.01;
}

.example-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example {} */

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.genre {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

.back:hover {
    text-decoration: underline;
    cursor: pointer;
}

.more {
    animation: more 2s infinite ease-out;
}

.right>p::-webkit-scrollbar {
    width: 11px;
    padding: 0;
}

.right>p {
    scrollbar-width: thin;
    scrollbar-color: var(--Scrollbar) var(--Background);
}

.right>p::-webkit-scrollbar-track {
    background: var(--Background);
    width: 10px;
}

.right>p::-webkit-scrollbar-thumb {
    background-color: var(--Scrollbar);
    border-radius: 5px;
    border: 3px solid var(--Background);
}