.graph {
    border: solid black 2px;
    border-radius: 12px;
    flex-grow: 1;
    margin: 20px 15px 20px 15px;
    padding: 20px;
}

@media (max-width: 768px) {
    .graph {
        border: solid grey 1px;
    }

    .header {
        flex-direction: column !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .header div {
        width: 100% !important;
        justify-content: center !important;
        flex-direction: row !important;
    }
}

.header h2 {
    display: contents;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.header * {
    flex: 0 0 20%;
    width: 0;
    padding: 0;
    margin: 0;
}

.header div {
    display: flex;
}

.header div * {
    margin: 10px;
    cursor: pointer;
}

.header div *:hover {
    text-underline-offset: 2px;
    text-decoration: underline;
    text-shadow: 1px 0px 0px black;
}

.header div .active {
    text-underline-offset: 2px;
    text-decoration: underline;
    text-shadow: 1px 0px 0px black;
}

.content {
    text-align: center;
    font-size: larger;
}