.graph {
    border: solid black 1px;
    border-radius: 12px;
    flex-grow: 1;
    margin: 20px 15px 20px 15px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header * {
    flex: 0 0 20%;
    width: 0;
}

.header div {
    display: flex;
}

.header div * {
    margin: 10px;
    cursor: pointer;
}

.header div *:hover {
    text-underline-offset: 2px;
    text-decoration: underline;
    text-shadow: 1px 0px 0px black;
}

.header div .active {
    text-underline-offset: 2px;
    text-decoration: underline;
    text-shadow: 1px 0px 0px black;
}