.popup {
    width: 50vw;
    height: 50vh;
    background-color: var(--Background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
}

.Darken {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup h2 {
    padding: 0;
    margin: 0;
}

.divBTN {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.divBTN h3 {
    cursor: pointer;
}

.divBTN h3:hover {
    text-decoration: underline;
}

.addMobile {
    display: flex;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    align-items: center;
    background-color: black;
    z-index: 90;
}

.addMobile input {
    background-color: black;
    border: solid white 0.1px;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

.addMobile label {
    font-size: large;
}