:root {
  --Background: rgb(136, 136, 136);
  --Scrollbar: rgb(88, 88, 88);
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}